 <!-- Footer -->

 <footer class="colored-section" id="footer">
    <div class="container-fluid">
      <h1 class="big-heading">Our Contacts</h1>
      <a href="tel:+77777777777"><i class="social-icon fas fa-mobile-alt fa-2x"></i></a>
      <a href="mailto:gearupstore@example.com"><i class="social-icon fas fa-envelope fa-2x"></i></a>
      <a href="https://www.instagram.com/marina_webdev/">
      <i class="social-icon fab fa-instagram fa-2x"></i></a>
      <a href="https://github.com/marinamuse"><i class="social-icon fab fa-github-alt fa-2x"></i></a>
      <br>
      <a href="https://portfoliomarinakim.imfast.io/"><p>© Copyright 2020 TechMuse</p></a>
    </div>
  </footer>